@use "global";
@use "sass:color";

.text-container {
  max-width: 500px;
  h1 {
    padding-right: 1em;
    letter-spacing: 2px;
  }
}
.form-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 540px;
  gap: 2em;
  .formulario {
    display: flex;
    flex-direction: column;
    background-color: global.$color-primary;
    padding: 2.56em;
    border-radius: 10px;
    box-shadow: 0 10px darken(global.$red, 4%);
    .btn-green {
      background-color: global.$green;
      text-transform: uppercase;
      border-bottom: solid 3px darken(global.$green, 8%);
    }
    p {
      color: global.$grayish-blue;
      font-size: 0.6rem;
      margin-top: 1rem;
      text-align: center;
    }
  }
  .btn-blue {
    background-color: global.$blue;
    box-shadow: 0 10px darken(global.$red, 4%);
  }
}
